<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="web icon" href="/img/logo2.jpg"> 
    <title>IT-Supporter HaUI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;1,300&family=Bruno+Ace&family=Josefin+Sans:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&family=Pacifico&family=Yanone+Kaffeesatz:wght@200&display=swap" rel="stylesheet">


</head>
<body>
    <div class="app">
        {{> header}}
        <div class="content">
            {{{body}}}
        </div>
        {{> footer}}     
    </div>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    const introduce = document.getElementById('about__infor--wrap')
    const imageBox = document.querySelector('.about__member')
    let listbanner = Array.from(introduce.querySelectorAll('.infor__banner div'))
    let  listtext = Array.from(introduce.querySelectorAll('.infor__banner div p'))
    let  listultext = Array.from(introduce.querySelectorAll('.infor__list li'))
    let  listlitext = Array.from(introduce.querySelectorAll('.infor__list li p'))
    window.addEventListener('scroll', () => {
         if(introduce.offsetTop < window.scrollY + window.innerHeight && introduce.offsetTop + introduce.offsetHeight  >  window.scrollY + window.innerHeight - 100) {
            listbanner.map(item => {
                item.classList.remove('fadeOut')
                item.classList.add('fadeIn')
            })
            listtext.map(item => {
                item.classList.remove('fadeOutText')
                item.classList.add('fadeInText')
            })
            listlitext.map(item => {
                item.classList.remove('fadeOutText')
                item.classList.add('fadeInText')
            })
            listultext.map(item => {
                item.classList.remove('fadeOut')
                item.classList.add('fadeIn')
            })
         } else  {
            listbanner.map(item => {
                item.classList.remove('fadeIn')
                item.classList.add('fadeOut')
            })
            listultext.map(item => {
                item.classList.remove('fadeIn')
                item.classList.add('fadeOut')
            })
            listtext.map(item => {
                item.classList.remove('fadeInText')
                item.classList.add('fadeOutText')
            })  
            listlitext.map(item => {
                item.classList.remove('fadeInText')
                item.classList.add('fadeOutText')
            })  
         }



         if(imageBox.offsetTop < window.scrollY + window.innerHeight && imageBox.offsetTop + imageBox.offsetHeight  >  window.scrollY + window.innerHeight - 100) {
            let imgItem = Array.from(imageBox.querySelectorAll('.image-box'))
            imgItem.forEach(item => {
                item.classList.add('showinfor')
            })
         }
    })  
</script>
</body>
</html>