
<div class="content">
    <div class="post">
        <div class="message-chat">
            {{#each posts}}
                <div class="feed__item">
                        <div>
                            <div class="feed__item--header">
                                <img src="" alt="">
                                <span class="time__long">
                                    <p>{{this.username}}</p>
                                    <p>{{this.createdAt}}</p>
                                </span>
                            </div>
                            <p>{{this.content}}</p>
                         </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
