{{#with acc}}
    <form action="/auth/admin/post/create-post/{{_id}}" method="post">
      <div class="admin__post">
        <h1>Đăng một bài gì đó</h1>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Mô tả</label>
      <textarea class="form-control text_post" id="exampleFormControlTextarea1" rows="3" name="title"></textarea>
    </div>
    <div class="input-group col-md-12">
      <div class="mb-3">
        <label for="formFile" class="form-label">Image</label>
        <input class="form-control" type="file" id="formFile" name="imgPost">
  </div>
  </div>
    <button type="submit" class="btn btn-success btn-post">Đăng bài</button>
   </form>
{{/with}}


<div class="content">
    <div class="post">
        <ul class="message-chat">
        </ul>
    </div>
</div>

{{!-- 
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const btnPost = document.querySelector('.btn-post')
    const ulList = document.querySelector('.message-chat')
    btnPost.addEventListener('click', () => {
        const textdes = document.querySelector('.text_post').value
        socket.emit('on-post', {message: textdes})
        textdes.value = ''
    })
    socket.on('user-post', (data) => {
        const chatitem = document.createElement('li')
        chatitem.innerText = data.message
        ulList.appendChild(chatitem)
    })
</script> --}}
