<div class="teachSupport">
    <div class="teachNum">
        <h1>Teach Support</h1>
        <div class="tech__img">
            <img src="" alt="">
        </div>
        <p class="time">Thời gian: </p>
        <p class="place">Địa điểm</p>
        <p class="status">Đang diễn ra</p>
        <p class="number">Số máy đang phục vụ</p>
    </div>
</div>