<footer class="footer row">
    <div class="footer__item col-4">
        <h4>Về chúng tôi</h4>
        <ul>
            <li>
                <p>It-Supporter là câu lạc bộ hỗ trợ kỹ thuật trực thuộc khoa CNTT. Tự hào là một trong những câu lạc bộ cống hiến đóng góp phát triển cho khoa cũng như trường</p>
            </li>
        </ul>
    </div>
    <div class="footer__item col-4">
        <h4>Links</h4>
            <ul>
                    <li><a href="#about__infor--wrap">Giới thiệu</a></li>
                    <li><a href="#active">Hoạt động</a></li>
                    <li><a href="#prize">Thành tích</a></li>
                    <li><a href="#target">Mục tiêu</a></li>
                    <li><a href="#hiremember">Tuyển thành viên</a></li>
                </ul>
  
    </div>
    <div class="footer__item col-4">
        <h4>Liên hệ</h4>
        <ul>
            <li>
                <i class="fa-solid fa-house"></i>
                <p>Văn phòng Đoàn Thanh Niên, Tầng 8, nhà A1, trường Đại Học Công nghiệp Hà Nội Hà Nội, Hanoi, Vietnam</p>
            </li>
            <li>
                <i class="fa-solid fa-envelope"></i>
                <p>
it.supporter@fit-haui.edu.vn</p>
            </li>
            <li>
               <i class="fa-solid fa-phone"></i>
                <p>+84974318363</p>
            </li>
            <li>
                <i class="fa-brands fa-facebook"></i>
                <a href="https://www.facebook.com/itsupporter.haui">Đội hỗ trợ kỹ thuật IT-Supporter</a>
            </li>
        </ul>
    </div>


</footer>
<div class="copy" >
        <h6 style="text-align: center"> @ 2023 Copyright : Ducthang.1306</h6>
</div>