 <form class="row g-3 needs-validation" novalidate method="post">
  <div class="col-md-6">
    <label for="fullname" class="form-label">Họ tên</label>
    <input type="text" class="form-control" id="fullname" name="fullname" required>
  </div>
  <div class="col-md-6">
    <label for="phone_number" class="form-label">Số điện thoại</label>
    <input type="text" class="form-control" id="phone_number" required name="phone_number">
  </div>
  <div class="col-md-6">
    <label for="service" class="form-label">Dịch vụ</label>
    <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    Vệ sinh máy
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  <label class="form-check-label" for="flexCheckChecked">
    Tra keo tản nhiệt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  <label class="form-check-label" for="flexCheckChecked">
    Nâng cấp ổ cứng
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  <label class="form-check-label" for="flexCheckChecked">
    Nâng cấp ram
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
  <label class="form-check-label" for="flexCheckChecked">
    Tư ván bảo trì, nâng cấp , mua máy
  </label>
</div>
  </div>


<div class="col-md-6">
    <label for="technical" class="form-label">Technical</label>
    <input type="text" class="form-control" id="technical" required name="technical">
</div>

<div class="col-md-6">
    <label for="text_note" class="form-label">Ghi chú</label>
    <input type="text" class="form-control" id="text_note" required name="text_note">
  </div>

<div class="col-md-6">
    <label for="date_tiem" class="form-label">Ngày nhận</label>
    <input type="datetime-local" class="form-control" id="date_tiem" required name="date_tiem">
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>

